#dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

#dash-all-links {
	width: 100%;
     }
#dash-links {
  display: inline-block;

}
.dash-title {
  font-size: 16px;
  border-radius: 20px;
  padding: 2px;
  display: inline-flex;
  text-align: center;
}
.dashimg-link {
  height: 7rem;
  width: 7rem;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 2px;
  margin-top: 25px;
  text-align: center;
            &:hover {
                filter: grayscale(1) ;
            }
 }
.dashlink {
    color: @fontcolor;
    font-family: "Source-Sans-Pro",sans-serif;
    font-size: .8em;
    text-decoration:none;
    text-align: center;
}


.dashlink-text {
    padding: 0px;
    color: @fontcolor;
    font-family: "Source-Sans-Pro",sans-serif;
    font-size: 1em;
    text-decoration:none;
    text-align: center;
}

