.result_header {
    margin-top: 0px;
    margin-bottom: 2rem;
    font-size: 16px;

    .favicon {
        margin-bottom:-3px;
    }

    a {
        color: @result-title;
        text-decoration: none;

        &:hover{
            color: @result-title-hover;
        }

        &:visited{
            color: @result-title-visited;
        }

        .highlight {
            font-weight: bold;
            // Chrome hack: bold is different size than normal
            // https://stackoverflow.com/questions/20713988/weird-text-alignment-issue-in-css-when-bolded-lucida-sans
        }
    }
}

.result-content, .result-format, .result-source {
    margin-top: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
    color: @textcolor-bright;
    font-size: 13px;
}

.result .highlight {
    font-weight: bold;
}

.result-source {
    font-size: 10px;
    float: left;
}

.result-format {
    font-size: 10px;
    float: right;
}

.result-abstract {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

.external-link {
    color: @second-accent;
    font-size: 12px;
    margin-bottom: 15px;

    a {
        margin-right: 3px;
    }
}

// default formating of results
.result-default, .result-code, .result-torrent, .result-videos, .result-map {
    clear: both;
    padding: 0.5em 2em;
    background-color: @postbg;
    margin-bottom: .4em;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 20%);
    border-radius: .3rem;
    &:hover{
        background-color: @posthover;
    }
}


// image formating of results
.result-images {
    float: left !important;
    width: 30%;
    margin: .5%;
    border: 0px;
    a {
        display: block;
        width: 100%;
        background-size: cover;
    }
}

.img-thumbnail {
    margin: 5px;
    border: unset;
    border-radius: 2rem;
    padding: 0px;
    &:hover {
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }
}

// video formating of results
.result-videos {
    clear: both;

    hr{
        margin: 5px 0 15px 0;
    }

    .collapse{
        width: 100%;
    }

    .in{
        margin-bottom: 8px;
    }
}

// torrent formating of results
.result-torrent {
    clear: both;

    b{
        margin-right: 5px;
        margin-left: 5px;
    }

    .seeders{
        color: @first-accent;
    }

    .leechers{
        color: @alert;
    }
}

.result-metadata {
    clear: both;
    margin: 1em;

    td {
        padding-right: 1em;
        color: @posthover;
    }

    td:first-of-type {
        color: @textcolor-bright;
    }
}

// map formating of results
.result-map {
    clear: both;
}

// code formating of results
.result-code {
    clear: both;

    .code-fork, .code-fork a{
        color: @textcolor-bright;
    }

}

// suggestion
.suggestion_item {
    margin: 2px 5px;
    max-width: 100%;

    .btn {
        background-color: @postbg;
        border: 0px;
        max-width: 100%;
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
        color: @maincolor;
        padding: .5rem;
        &:hover {
          color: @postbright;
          background-color: @maincolor;
        }
    }
}

// download result
.result_download {
    margin-right: 5px;
}

// page forward, backward
#pagination {
    margin-top: 30px;
    padding-bottom: 60px;
}

.label-default {
    color: @fontcolor;
    background: transparent;
}

.result .text-muted small {
    word-wrap: break-word;
}

.modal-wrapper {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
    background-clip: padding-box;
    background-color: @postbg;
    color: @textcolor-dark;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}

.modal-header {
  background-color: @maincolor;
  color: @postbright;
  border-bottom: unset;
}

@media screen and (max-width: 75em) {
    .img-thumbnail {
        object-fit: cover;
    }
}
